NODE_ENV=production
PORT=3000

DATABASE_URL=

FRONTEND_URL=https://yourfrontend.netlify.app

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=

PEXELS_API_KEY=
